h1 {
   text-align: center;
}

div {
    display: flex;
    justify-content: space-evenly;
    
}

#computer {
    display:  flex;
    width: 350px;
    height: 350px;
    border: solid 1px black;
}


#player {
    display:  flex;
    width: 350px;
    height: 350px;
    border: solid 1px black;
}

#buttons {
    display: flex;
    justify-content: flex-start;
    margin-left: 200px;
    padding-top: 25px;
}

#scoreBoard {
    display: flex;
    justify-content: center
    padding 
}

h2{ 
    text-align: center;
}